* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor {
    max-width: 400px;
    margin: auto;
}

.texto1 {
    border: 1px solid #000;
    padding: .5em;
    margin: .5em;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.perimetro {
    background-color: cadetblue;
    padding: .5em;
    margin: .5em;
}

.superficie {
    background-color: rgb(160, 95, 158);
    padding: .5em;
    margin: .5em;
}

.formulario {
    background-color: rgb(144, 199, 144);
    padding: .5em;
    margin: .5em;
    text-align: center;
}

.formulario>p {
    font-size: 1.3em;
    margin-bottom: .5em;
}

.formulario>input {
    width: 100px;
    padding: .5em;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: .5em;
}

.formulario>button,
#cuadro>button {
    width: 200px;
    font-size: 1.6em;
    padding: .3em;
    border-radius: 10px;
}

#btn_calcular:hover{
    cursor: pointer;
    background-color: darkgreen;
    color:#fff;
}

#cuadro {
    background-color: rgb(240, 199, 199);
    text-align: center;
    padding: .5em;
    margin: .5em;
    color: rgb(105, 24, 24);
}

#cuadro>p {
    font-size: 1.5em;
    margin: .5em;
}

#error {
    border: 2px solid red;
    background-color: rgba(255,0,0,.2);
    color: red;
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    width: 85%;
    margin: auto;
}

#error>button{
    font-size: .7em;
    width: 200px;
    padding: .3em;
    border-radius: 10px;
    margin-top: .5em;
    border: 2px solid red;
    background-color: rgba(237, 179, 179, 0.2);
    color: red;
    text-align: center;
    cursor: pointer;
}

#error>button:hover{
    background-color:#fff;
    color:#000;
}